@import '@fontsource/sora/300.css';
@import '@fontsource/sora/400.css';
@import '@fontsource/sora/500.css';
@import '@fontsource/sora/600.css';
@import '@fontsource/sora/700.css';
@import '@fontsource/instrument-serif/400-italic.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vapor-void text-vapor-ghost font-sans antialiased overflow-x-hidden;
  }
}
